<!DOCTYPE html>
<html>
  	<head>
    	<title>Secure File Server</title>
    	<base href="/" >
    	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
    	<script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>

	  
	  	<script type="text/javascript" src="app.module.js"></script>
	  	<script type="text/javascript" src="js-bundle.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
  	</head>
 	<body ng-app="secureFileServer">
		<div ng-view></div>
  	</body>
</html>
