
<div flex="60" flex-offset="20" style="margin-top:100px" >
    <div layout="column" class="md-whiteframe-z3" layout-padding>
        <div layout="row" >
            <div flex></div>
            <h1 class="md-display-1">Secure Server Login</h1>
            <div flex></div>
        </div>
    <div layout="row">
        <div flex></div>
        <md-input-container flex="33">
           <label>User ID</label>
           <input ng-model="user.id">
       </md-input-container>
         <div flex></div>
    </div>
    <div layout="row">
        <div flex></div>
        <md-input-container flex="33">
           <label>Password</label>
           <input type="password" ng-model="user.password">
        </md-input-container>
        <div flex></div>
    </div>
    <div layout="row">
        <div flex></div>
        <p style="color: black">{{errorMsg}}</p>
        <div flex></div>
    </div>
    <div layout="row">
        <div flex></div>
        <md-button flex="33" class="md-primary md-raised" ng-click="login()">Login</md-button>
        <div flex></div>
    </div>

</div>
